// Variables
$bg-color-main: #f4f4f4
$bg-color-aside: #2c3e50
$bg-color-button: #e74c3c
$color-main: #333
$color-inverse: #ecf0f1
$font-main: 'Arial', sans-serif
$common-height: 30px

// Basic reset and global settings
*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: $font-main

body
  background-color: $bg-color-main
  color: $color-main
  padding: 10%

// Hamburger Menu Styles
.hamburger-menu
  background: none
  border: none
  font-size: 2em
  cursor: pointer
  color: $color-main
  margin-right: 20px
  padding: 0
  display: inline
  outline: none
  transition: none
  min-width: 0

  &:hover, &:focus
    color: blue
    border: none
    outline: none
    background: none


// Style for hidden sidebar
aside.hidden
  display: none


#app-title
  font-family: 'Courier New', Courier, monospace
  font-size: 2em
  font-weight: bold

// Main structure
#app
  display: flex
  max-width: 1200px
  margin: 40px auto
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1)

  aside
    width: 250px
    background-color: $bg-color-aside
    color: $color-inverse
    padding: 20px

    ul, li, .sub-menu li
      list-style-type: none
      margin-bottom: 10px
      font-size: 1em
      line-height: 1.5em

    #togglePriorities
      cursor: pointer
      display: block

      &:before
        content: ">"
        display: inline-block
        margin-right: 5px
        font-weight: bold

    li.sub-menu-opened
      #togglePriorities:before
        content: "v"

  .sub-menu
    margin-left: 20px
    display: none

  main
    flex: 1
    background-color: $color-inverse
    padding: 20px

// Estilos comunes
.custom-container
  background-color: blue
  padding: 5px 10px
  border-radius: 5px
  height: $common-height
  label, span
    color: $color-inverse
    line-height: 20px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

  span
    font-size: 0.8em

.buttons-container
  display: flex

button
  height: $common-height
  background-color: $bg-color-button
  color: $color-inverse
  padding: 10px 20px
  border: none
  border-radius: 5px
  cursor: pointer
  transition: background-color 0.3s ease
  margin: 5px
  min-width: 100px
  // make text size bigger
  font-size: 14px
  text-align: center

  &.add-button
    margin-right: 10px

  &:hover
    background-color: darken($bg-color-button, 10%)

#addTaskButton
  display: flex
  align-items: center
  justify-content: center


// Estilos específicos para tareas
#tasks
  > div
    display: flex
    flex-direction: column
    background-color: $color-inverse
    padding: 10px
    padding-top: 20px
    margin: 10px 0
    border-radius: 5px
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)

    .task-details
      display: flex
      justify-content: space-between
      align-items: center
      gap: 10px
      margin-top: 15px
      margin-bottom: 20px

      .custom-container, button
        flex: 1
        min-width: 100px
        overflow: hidden

    > div
      display: flex
      align-items: center
      justify-content: space-between
      width: 100%
      // margin-bottom: 10px
      gap: 10px
      padding-left: 10px

      .custom-container, button, input[type="text"], select, input[type="date"]
        flex: 1

      input[type="text"]
        padding: 5px 10px
        margin: 0 0 10px 0
        border: 1px solid #ccc
        border-radius: 3px

      select, input[type="date"], button
        box-sizing: border-box
        margin-right: 5px
        margin-left: 10px

      div
        display: flex
        align-items: center
        gap: 5px

        label
          margin-right: 5px

        button
          margin-right: 10px

          &:last-child
            margin-right: 0

.task
  background-color: #fff
  border-radius: 5px
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)
  margin: 10px 0
  padding: 20px
  .task-text
    font-size: 16px
    font-weight: bold
    // margin-bottom: 10px

  .task-details
    align-items: center
    display: flex
    justify-content: space-between

  .custom-container
    align-items: center
    display: flex
    margin-right: 10px

    label
      margin-right: 5px

    span
      font-size: 14px

  .complete-button
    background-color: #e74c3c
    border: none
    border-radius: 5px
    color: #fff
    cursor: pointer
    padding: 5px 10px
    transition: background-color 0.3s ease

    &:hover
      background-color: darken(#e74c3c, 10%)

.new-task
  background-color: #fff
  border-radius: 5px
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)
  margin: 10px 0
  padding: 10px

  .input-group
    margin-bottom: 10px

  .task-input
    font-size: 14px
    height: 40px
    width: 100%

  .action-container
    align-items: center
    display: flex
    justify-content: space-between
    width: 100%

  .custom-container
    align-items: center
    display: flex
    margin-right: 10px

    label
      margin-right: 5px

    span
      font-size: 14px

  .buttons-container
    flex: 1

  button
    padding: 0px 10px

  .priority-container, .date-container
    flex: 1
