// Variables
$bg-color-main: #f4f4f4
$bg-color-aside: #2c3e50
$bg-color-button: #e74c3c
$color-main: #333
$color-inverse: #ecf0f1
$font-main: 'Arial', sans-serif

// Reset básico y estilos globales
*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: $font-main

body
  background-color: $bg-color-main
  color: $color-main
  padding: 10%

// Estructura principal
#app
  display: flex
  max-width: 1200px
  margin: 40px auto
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1)

  aside
    width: 250px
    background-color: $bg-color-aside
    color: $color-inverse
    padding: 20px

    ul, li, .sub-menu li
      list-style-type: none
      margin-bottom: 10px
      font-size: 1em
      line-height: 1.5em

    #togglePriorities
      cursor: pointer
      display: block

      &:before
        content: ">"
        display: inline-block
        margin-right: 5px
        font-weight: bold

    li.sub-menu-opened
      #togglePriorities:before
        content: "v"

  .sub-menu
    margin-left: 20px
    display: none

  .custom-container
    background-color: blue
    padding: 5px 10px
    border-radius: 5px
    label
      color: $color-inverse


  // haz que los elementos de la clase buttons-container tengan la misma anchura
  .buttons-container
    // display: flex
    button
      // flex: 1
      margin: 5px
      min-width: 100px

  main
    flex: 1
    background-color: $color-inverse
    padding: 20px

  button
    background-color: $bg-color-button
    color: $color-inverse
    padding: 10px 20px
    border: none
    border-radius: 5px
    cursor: pointer
    transition: background-color 0.3s ease

    &.add-button
      margin-right: 10px

    &:hover
      background-color: darken($bg-color-button, 10%)

// Estilos específicos para tareas
#tasks
  > div
    display: flex
    flex-direction: column
    background-color: $color-inverse
    padding: 10px
    padding-top: 20px
    margin: 10px 0
    border-radius: 5px
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)

    .task-details
      display: flex
      justify-content: space-between
      align-items: center
      gap: 10px
      margin-top: 20px
      margin-bottom: 20px

      .custom-container, button
        flex: 1
        min-width: 100px
        overflow: hidden

      .custom-container
        background-color: blue
        padding: 5px 10px
        border-radius: 5px
        height: 30px
        label, span
          color: $color-inverse
          line-height: 20px
          white-space: nowrap
          overflow: hidden
          text-overflow: ellipsis

      .custom-container span
        font-size: 0.8em

      button
        border: none
        background-color: $bg-color-button
        color: $color-inverse
        border-radius: 5px
        cursor: pointer
        transition: background-color 0.3s ease
        line-height: 20px
        padding: 5px 10px
        min-width: 100px 
        margin: 0

        &.add-button
          margin-right: 10px

        &:hover
          background-color: darken($bg-color-button, 10%)

    > div
      display: flex
      align-items: center
      justify-content: space-between
      width: 100% 
      margin-bottom: 10px
      gap: 10px

      .custom-container, button, input[type="text"], select, input[type="date"]
        flex: 1

      input[type="text"]
        flex: 1
        padding: 5px 10px
        margin: 0 0 10px 0
        border: 1px solid #ccc
        border-radius: 3px

      select, input[type="date"], button
        flex: 1
        box-sizing: border-box
        margin-right: 5px
        margin-left: 10px

      div
        display: flex
        align-items: center
        gap: 5px

        label
          margin-right: 5px

        button
          flex: 1
          margin-right: 10px

          &:last-child
            margin-right: 0

